@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	width: 100vw;
}
.container {
	height: 100%;
	overflow: hidden;
	background-color: #6b7fd7;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.container span {
	color: #fff;
	margin: 0 auto;
	font-size: 100px;
	font-family: 'Lato', sans-serif;
}

.container input {
	font-family: 'Rubik', sans-serif;
}

.container #input {
	width: 40vw;
	height: 40px;
	margin: 20px 0;
	padding: 0 20px;
	font-size: 20px;
	border-radius: 50px;
	outline: none;
	border-color: transparent;
	color: #000;
	background-color: #fdcb6e;
	caret-color: #000;
	box-shadow: none;
}
.container #input::placeholder {
	color: hsla(0, 0%, 0%, 0.7);
}

.container #btn {
	padding: 10px 20px;
	border-radius: 30px;
	border-color: transparent;
	font-size: 16px;
	transition: background 0.3s ease, color 0.3s ease;
}

.container #btn:hover {
	background-color: #f39c12;
	color: #fff;
}

.container #result-container {
	width: 60vw;
	min-height: 100px;
	height: fit-content;
	background-color: #fff;
	margin: 20px 0;
	border-radius: 20px;
	padding: 15px 20px;
	border-color: transparent;
	font-size: 20px;
	word-wrap: break-word;
	font-family: 'Rubik', sans-serif;
	transition: height 0.2s ease-in;
}

.copyright {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
	padding: 5px 0;
	font-family: 'Rubik', sans-serif;
	color: #fff;
}

.copyright .heart {
	color: red;
}

.copyright a {
	color: #fff;
}
